/*rach======= @Global styles ====mann*/
body{
	font-family: Trebuchet MS ,serif;
	margin: 0 ;
	padding: 0;
}

h1 h2 h3  li{
	
	margin: 1ex 1em
	
}
p.clear{
	clear:both;
	height: 0;
	margin: 0;
	padding: 0;
}
/*rach======= @outerdiv ====mann*/
#outerdiv{
	border:1px solid yellow;
	width:80%;
	margin:0 auto;
	
}

/*rach======= @header div ====mann*/
#header {
	
	margin: 0 auto;
	background: #fff url(../Blogimages/wood.jpg) repeat;
	height:170px;
	position: relative;
	top: 0;
	
}
#logo{
	position: relative;
	left:70px;
	top:5px;
	
	
}
#n{
	position: relative;
	left:280px;
	bottom: 150px;
	color: white;
	font-size: 1.4em;
	font-family: Chiller;
	
}
#searchBar{
	position: absolute;
	right: 0px;
	bottom:20px;
	

}

input.searchBox{
	background-image: url(../Blogimages/search1.png);
	background-repeat: no-repeat;
	background-size:contain;
	background-position: 120px 1px;
	color:deeppink;
}

.moto{
	position: absolute;
	top: 25px;
	left:150px;
	color: deeppink;
	font-size: 1.2em;
}

#Navmenu{
	position:absolute;
	bottom:0px;
	left:0px;
	width:80%;
	float: left;
	padding-left: 215px;
	
}
#Navmenu ul{
	list-style-type: none;
	padding:0;
	margin: 0;
	
}
#Navmenu li{
	float:left;
	margin: 0;
	padding: 0;
	
}
#Navmenu a{
	font-family: Trebuchet MS,sans-serif;
	display: block;
	text-decoration: none;
	line-height: 25px;
	margin-right: 10px;
	color:white;
	padding:5px 30px 5px 15px;
	

}

li.home a:hover{
	
	cursor: default;
	border-bottom:5px solid deeppink;
}

li.event a:hover{
	
	color:white;
	border-bottom:5px solid deeppink;
}
li.about a:hover{
	color: white;
	border-bottom:5px solid deeppink;
	
}
li.contact a:hover{
	color: white;
	border-bottom:5px solid deeppink;
	
}
/*rach======= @Global styles ====mann*/

#notice{
	float:right;
	background-color:deeppink;
	padding:10px;
	margin-right:50px;
	font-family:Arial;
	font-size:1.2em;
	color:white;
}

/*========== mainContent ========*/
.Caption{
	color:deeppink;
	font-family:chiller;
	font-size:3.2em;
	margin-left:20px;
}

#mainContent {
	
	margin: 0 auto;
	padding: 10px;
	
}

/*rach======= @SLIDE IMAGE ====mann*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 550px;
  height:400px;
  position: relative;

}

.mySlides {
    display: none;
	
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  margin-left: 20px;
  color: deeppink;
  font-weight: bold;
  font-size: 25px;
  transition: 0.8s ease;
  border-radius:5px 0 0 5px;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
  border-radius:0 5px 5px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: deeppink;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: deeppink;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dotContainer{
	width:550px;
	text-align:center;

}

.active, .dot:hover {
  background-color: deeppink;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*=======================================================================*/
/*========= sideBar ==========*/
#sideBar{
	float: right;
	margin: 0;
	padding: 0 50px 0 70px;
	width:200px;
	border-left: 1px solid brown;
	text-align:left;
		
}
#sideBar p{
	font-family: Trebuchet MS,sans-serif;
	line-height: 1.2em;
	font-size:0.9em;
	margin: 0 0 3ex 0;
	color: #666;

}