/*============= Global styles ============*/
*{
	margin:0;
	padding: 0;
}

article , figure , aside ,p ,footer , header ,nav ,setion {
	
	display: block;
}

#page-wrap{
	width:900px;
	margin: 0px auto 10px;
    height: auto;
	border: 1px solid #ff01a2;
	
	
}

p.clear{
	clear:both;
	height: 0;
	margin: 0;
	padding: 0;
}
/*================= header ========*/
header {
	position:relative;
	width: 900px;
	height: 100px;
	color:#fff;
	background:#ff01a2 url(../Blogimages/page-background.png) repeat;
	padding:2%px;
	
}
#logo img{
	width:150px;
	margin-top: 20px;
	float: left;
	padding-right: 10px;
}

/*=========== main content======*/

#mainContent{
	float: right;
	width:500px;
	
}



/*============ SideBar ================*/

aside{
	float: left;
	width:250px;
}

nav{
	margin-top:10px;
	
}
nav ul{
	list-style-type: none;
	
	
	
}
nav ul li a{
	position: relative;
	color:white;
	display: block;
	padding:10px 10px 10px 25px;
	font-size: 16px;
	text-decoration: none;
	background:  #ff01a2;
	margin: 0 0 5px 0px;
	
}

nav ul li a span{
	
	position: absolute;
	right: 100%;
	top:0;
	width: 15px;
	height: 100%;
	background-color: #ff01a2;
	background-image: url(../Blogimages/nav_shadow.png);
	
}

nav ul li:nth-child(2) a ,nav ul li:nth-child(2) a span{
	background-color:  #4F4747;
	
}
nav ul li:nth-child(3) a,nav ul li:nth-child(3) a span{
	background-color: #D4BF50;
}

nav ul li:nth-child(4) a ,nav ul li:nth-child(4) a span{
	background-color:#4F4747 ;
}

nav ul li:nth-child(5) a ,nav ul li:nth-child(5) a span{
	background-color: #D4BF50;
}
 /*++++++++++++ widgets +++++++++*/

.widget{
	margin-top: 2px;
	background: url(../Blogimages/post-background.png) top no-repeat;
	padding: 70px 10px 5px 10px;
}

#socialMedia ul li{
	float: left;
	list-style-type: none;
	margin:2px;
	padding: 2px;
}
.facebook{
	display: inline-block;
	background-image: url(../Blogimages/face.jpg);
	background-repeat: no-repeat;
	width:49px;
	height: 49px;
	background-size: 49px;
	border-radius:25px;
}
.google{
	display: inline-block;
	background-image: url(../Blogimages/google.jpg);
	background-repeat: no-repeat;
	width:49px;
	height: 49px;
	background-size: 49px;	
	border-radius:25px;
}
.twitter{
	display: inline-block;
	background-image: url(../Blogimages/twitter.jpg);
	background-repeat: no-repeat;
	width:49px;
	height: 49px;
	background-size: 49px;
	border-radius:25px;
}
.youtube{
	display: inline-block;
	background: url(../Blogimages/tweet.jpg) top left;
	background-repeat: no-repeat;
	width:49px;
	height: 49px;
	background-size: 49px;	
}


.submitButton{
    background-color: Transparent;
    color: deeppink;
	width: 150px;
	border: 2px solid deeppink;
	border-radius: 5px;
	cursor:pointer;
	margin-left:30%;
}

/*================== footer =================*/
div#fixedfooter {
	bottom:0px;
	width:800px;
	color:#ccc;
	background:#333;
	padding:10px;
}